In [1]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

In [2]:
connection = psycopg2.connect(database="regressiondata", host="lapisco2.fortaleza.ifce.edu.br", port=3432, user="conceptu", password="conceptu@ifce")

In [3]:
cursor = connection.cursor()

In [33]:
cursor.execute("""SELECT *  FROM timeseries;""")
fetch = cursor.fetchall()
timeseries_table = pd.DataFrame(fetch)
display(timeseries_table)

,0,1,2,3,4,5,6,7,8
0,3680,2022-08-14 22:55:27.774803-03:00,2022-08-14 22:55:27.774803-03:00,2021-05-26,"[1.0, None, None, None, None, None, None, None...","[-0.97, None, None, None, None, None, None, No...",930.0,2920,None
1,3681,2022-08-14 22:55:27.789920-03:00,2022-08-14 22:55:27.789920-03:00,2021-05-27,"[0.25, None, None, None, None, None, None, Non...","[-0.83, None, None, None, None, None, None, No...",980.0,2920,None
2,3682,2022-08-14 22:55:27.808443-03:00,2022-08-14 22:55:27.808443-03:00,2021-05-28,"[0.27, None, None, None, None, None, None, Non...","[-0.78, None, None, None, None, None, None, No...",903.0,2920,None
3,3683,2022-08-14 22:55:27.825419-03:00,2022-08-14 22:55:27.825419-03:00,2021-05-29,"[0.22, None, None, None, None, None, None, Non...","[-0.73, None, None, None, None, None, None, No...",58.0,2920,None
4,3684,2022-08-14 22:55:27.841074-03:00,2022-08-14 22:55:27.841074-03:00,2021-05-30,"[0.46, None, None, None, None, None, None, Non...","[-0.91, None, None, None, None, None, None, No...",35.0,2920,None
...,...,...,...,...,...,...,...,...,...
328,3675,2022-08-14 22:55:27.692514-03:00,2022-08-14 22:55:27.692514-03:00,2021-05-21,"[0.93, None, None, None, None, None, None, Non...","[-0.98, None, None, None, None, None, None, No...",844.0,2920,None
329,3676,2022-08-14 22:55:27.710950-03:00,2022-08-14 22:55:27.710950-03:00,2021-05-22,"[0.28, None, None, None, None, None, None, Non...","[-0.81, None, None, None, None, None, None, No...",40.0,2920,None
330,3677,2022-08-14 22:55:27.725324-03:00,2022-08-14 22:55:27.725324-03:00,2021-05-23,"[0.91, None, None, None, None, None, None, Non...","[-0.97, None, None, None, None, None, None, No...",27.0,2920,None
331,3678,2022-08-14 22:55:27.741929-03:00,2022-08-14 22:55:27.741929-03:00,2021-05-24,"[0.22, None, None, None, None, None, None, Non...","[-0.71, None, None, None, None, None, None, No...",908.0,2920,None
332,3679,2022-08-14 22:55:27.758650-03:00,2022-08-14 22:55:27.758650-03:00,2021-05-25,"[0.22, None, None, None, None, None, None, Non...","[-0.73, None, None, None, None, None, None, No...",926.0,2920,None

In [24]:
timeseries_df = [i[0] for i in cursor.description]
display(timeseries_df)

['id',
 'created_at',
 'updated_at',
 'occurred_at',
 'consumption_points',
 'power_factor',
 'total_consumption',
 'power_plant_id',
 'under_maintenance']

In [34]:
print(timeseries_table.shape)

(333, 9)

In [31]:
timeseries_table.describe()

                 0            6       7
count   333.000000   333.000000   333.0
mean   3821.000000   734.651652  2920.0
std      96.273049   492.691892     0.0
min    3655.000000     8.000000  2920.0
25%    3738.000000    53.000000  2920.0
50%    3821.000000   975.000000  2920.0
75%    3904.000000  1130.000000  2920.0
max    3987.000000  1582.000000  2920.0

In [55]:
list_pot = [timeseries_table[4]]
for i in list_pot:
    set(list_pot)
    print(i)

TypeError: unhashable type: 'Series'